.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__hide {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}