* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: changeColor 2s infinite;
}

@keyframes changeColor {
    0% {
      background-color: red;
    }
    50% {
      background-color: yellow;
    }
    100% {
      background-color: green;
    }
  }