* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: changeColor 0.1s infinite;
}

@keyframes changeColor {
    0% {
      background-color: red;
    }
    25% {
      background-color: blue;
    }`
    50% {
      background-color: yellow;
    }
    75% {
      background-color: orange;
    }
    100% {
      background-color: green;
    }

  }