@import url(header.css);
@import url(main.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
}

body.dark {
  background-color: black;
  color: white;
}


@keyframes changeColor {
  0% {
    background-color: red;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: green;
  }
}

body {
  animation: changeColor 5s infinite;
}