.registration {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
}

a {
    text-decoration: none;
}

.password__control {
    cursor: pointer;
}