.registration {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(241, 203, 203);
}