@import url(header.css);
@import url(main.css);
@import url(footer.css);

:root {
  --color-background: #484283;
  --color-button: #f14f4f;
  --color-background-footer: #444b58;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-inline-size: 360px;
  max-inline-size: 1920px;
}


p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}
